<!-- app-product-card -->
<!-- product-card.component -->

<div>
  <div class="col mb-4">
    <!-- Card -->
    <div class="card">

      <div class="view overlay">
        <img class="card-img-top" [src]="product.image" alt="Card image cap" />
        <!-- när man trycker på bilden skickas man till xxx -->
        <!-- vi skickar med vilken produkt som ska visas mha params id -->
        <a class="mask rgba-white-slight" [routerLink]="'/products/'+product._id"></a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title"> {{product.name}} </h4>
        <!--Text  short -->
        <p class="card-text"> {{product.description}} </p>
        <!-- -->
       
        <!-- vi skickar med vilken produkt som ska visas mha params id -->
        <!-- <div class="mask rgba-white-slight btn btn-light-blue btn-md">Läs mer</div> -->
        <a class="mask rgba-white-slight btn btn-light-blue btn-md" [routerLink]="'/products/'+product._id">
          Läs mer
        </a>

      </div>
    </div>
    <!-- Card -->
  </div>
</div>